// YELLOW
$yellow: #f7df1e;
$yellow_modal: rgba(247, 222, 30, 0.85);

// LIGHT GREY
$grey : #E8E8E8;

// BLACK
$black: #222;
$black_modal: rgba(34, 34, 34, 0.85);

// WHITE
$white: #F1F1F1;

// FONTS
$font-a : 'Poppins', sans-serif;
$font-b : 'Merriweather', serif;

$padding_col : 20px;

// BREAKPOINTS
$breakpoints: (
    'small'  : 42em,
    'medium' : 56.25em,
    'large'  : 68.75em
);

