/* ========================================================================================= */
/* COMPONENT - C COUNTDOWN */
/* ========================================================================================= */

    .c-countdown{
        border-top: 1px solid $grey;
        height: 100vh;
        width: 100%;
        @include center-flex-children(true);

        &__title{
            font-size: 1.8rem;
            font-weight: bold;
            padding-bottom: 1em;
            text-align: center;
            padding-top: 5em;

            @include respond-to('small') {
                padding-top: 0;
            }
        }

        &__formulario{
            padding: 3rem;
        }

        &__date, &__time{
            padding: 2rem 0;
            display: inline-block;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
        } 

        &__date-text, &__time-text{
            padding-bottom: 1rem;
        }

        &__date-input, &__time-input{
            padding: 1rem 2rem;
            text-align: center;
        }

        &__none{
            display: none;
        }

        &__countdown{
            font-size: 1.3rem;
        }

        &__date-fail{
            color:red;   
        }

        &__date-ok{
            color: green;
        }
        
    }
    
/* ========================================================================================= */
/* END COMPONENT - C COUNTDOWN */
/* ========================================================================================= */