/* ========================================================================================= */
/* COMPONENT - C COUNTDOWN */
/* ========================================================================================= */

    .c-countdown{
        border-top: 1px solid $grey;
        height: 100vh;
        width: 100%;
        @include respond-to('small') {
            height: 100vh;
        }

        &__title{
            font-size: 1.75rem;
            font-weight: bold;
            padding: 1.5rem 0 2rem 0;
            text-align: center;

            @include respond-to('small') {
                padding-bottom: 3rem;
            }
            @include respond-to('medium') {
                padding-top: 3rem;
            }
        }

        &__formulario{
            max-width: 18.75rem;
            @include center-flex-children(true);
            margin: auto;
            @include respond-to('small') {
                width: 100%;
                max-width: 730px;
            }
        }

        &__date, &__time{
            width: 100%;
            max-width: 18.75rem;
            padding: 1rem 0;
            display: inline-block;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;

            @include respond-to('small') {
                padding: 2rem 0;
            }
        }

        &__time{
            padding-bottom: 4rem;
            @include respond-to('small') {
                padding-bottom: 6rem;
            }
        }

        &__date-text, &__time-text{
            padding-bottom: 1rem;
        }

        &__date-input, &__time-input{
            width: 100%;
            padding: 1rem 2rem;
            text-align: center;
        }

        &__none{
            display: none;
        }

        &__countdown{
            font-size: 1.3rem;
        }

        &__date-fail{
            color:red;   
        }

        &__date-ok{
            color: green;
        }

        &__empty-fields{
            border:1px solid red;
            color: red;
            font-size: 1.2rem;
            padding: .5rem 1rem;
        }
        
    }
    
/* ========================================================================================= */
/* END COMPONENT - C COUNTDOWN */
/* ========================================================================================= */