/* ========================================================================================= */
/* COMPONENT - C SCROLL BUTTOM */
/* ========================================================================================= */

.c-dark-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $yellow;
    cursor: pointer;
    position: fixed;
    left: 2vw;
    bottom: 2vh;
    z-index: 1;
    font-size: 2.5rem;
    
    &:hover{
        background-color: $black;
    }

    &__mode{
        background-color: $black;
        color: $yellow;
    }
}
    
/* ========================================================================================= */
/* END COMPONENT - C SCROLL BUTTOM */
/* ========================================================================================= */