/* ========================================================================================= */
/* COMPONENT - C HEADER */
/* ========================================================================================= */

.c-header{

    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: $yellow;
    //transition: all 0.6s ease-in-out;
    //transform: translateY(0px);
/*
    &.has-transform{

        transform: translateY(-101%);

    }
*/
    &__wrapper{

        width: 100%;
        text-align: center;
        padding: 20px 40px;

    }

    &__title{
        font-size: 32px;
        font-weight: bold;
        color: $black;
    } 

}

/* ========================================================================================= */
/* END COMPONENT - C HEADER */
/* ========================================================================================= */
