/* ========================================================================================= */
/* COMPONENT - C RESPONSIVE JAVASCRIPT */
/* ========================================================================================= */

.c-responsive-javascript{
    border-top: 1px solid $grey;
    height: 100vh;
    width: 100%;

    @include respond-to('small') {
        height: 100vh;
    }

    &__title{
        font-size: 1.75rem;
        font-weight: bold;
        padding: 1.5rem 0 2rem 0;
        text-align: center;

        @include respond-to('small') {
            padding-bottom: 3rem;
        }
        @include respond-to('medium') {
            padding-top: 3rem;
        }
    }

    &__center{
        text-align: center;
        padding-bottom: 1.5rem;
    }
}
    
/* ========================================================================================= */
/* END COMPONENT - C RESPONSIVE JAVASCRIPT */
/* ========================================================================================= */