/* ========================================================================================= */
/* COMPONENT - C SCROLL BUTTOM */
/* ========================================================================================= */

.c-scroll-buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $yellow;
    cursor: pointer;
    position: fixed;
    right: 2vw;
    bottom: calc(5rem + 3vh);
    z-index: 1;
    border: .5px solid $black;

    @include respond-to('small') {
        right: calc(5rem + 3vw);
        bottom: 2vh;
        border: none;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 2.5rem;
        color: $black;
    }

    &:hover{
        background-color: $black;
        border: .5px solid $white;
        @include respond-to('small') {
            border: none;
        }
    }
    &:hover &__wrapper{
        color: $yellow;
    }

    &__hidden{
        visibility: hidden;
        @include opacity(0);
    }
    
}
    
/* ========================================================================================= */
/* END COMPONENT - C SCROLL BUTTOM */
/* ========================================================================================= */